{extend name="static/assets/base.html" /} {block name="title"}
<title>合作协议</title>{/block} {block name="style"}
<style>
    .weui-content {
        position: relative;
        height: auto;
        color: #fcfcfc;
    }

    .protocol-cont h1 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 10px 0 20px 0;
        color: white;
    }

    .protocol-cont h2 {
        font-size: 16px;
        padding-bottom: 10px;
        padding-top: 10px;
        color: white;
    }

    .wrap {
        max-width: 640px;
        margin: 0 auto;
        min-width: 320px;
        overflow-x: hidden;
        padding: 10px;
        background: #394254;
        text-align: justify;
    }

    .protocol-cont ul {
        padding-bottom: 10px;
    }

    .protocol-cont .para_blank {
        text-indent: 2em;
    }

    .protocol-cont p {
        margin-bottom: 10px;
    }

    .underline {
        text-decoration: none;
        border-bottom: 1px solid;
        min-width: 35px;
        display: inline-block;
        text-align: center;
        text-indent: 0;
    }
</style>
{/block}{block name="body"}
<div class="weui-content">
    <div class="wrap ng-scope" ng-controller="ProtocolTradeController">
        <div class="protocol-cont">
            <h1>注册/合作协议</h1>
            <p>
                本合作协议（下称“本协议”）由以下各方签署：
            </p>
            <p>
                二、关于豁免责任，放弃权利和赔偿的协议
            </p>
            <p>
                第一条 总则
            </p>
            <p>
                鉴于：
            </p>
            <p>
                1. 甲方授权丙方按照丙方制定的规则和标准，发掘并自愿选择接受和不接受甲方平台显示的资产管理建议（以下称资产管理建议）的投资主体；
            </p>
            <p>
                2.乙方作为中华人民共和国境内具有完全民事行为能力的自然人，在充分了解市场风险和责任的前提下，通过丙方居间推荐，展示在丙方平台，成为为甲方提供资产管理建议的投资顾问；
            </p>
            <p>
                3. 丙方为甲方、乙方提供信息展示、交互等中介服务。
            </p>
            <p>
                据此，各方经协商一致，达成如下协议，以资共同遵照履行：
            </p>
            <p>
                第二条 合作方式
            </p>
            <p>
                1.甲方委托乙方担任其方案（具体方案以成交确认单为准）的投资顾问，就甲方管理范围内一定的规模资产（具体金额以成交确认单为准）提供资产管理建议，在不违反本协议约定的风控规则的前提下，甲方将依据乙方指示的投资建议进行资产管理操作；
            </p>
            <p>
                2.乙方提供建议投资的标的、投资规模以及买卖价格通过丙方向甲方提出投资建议，甲方有权决定是否接受乙方的投资建议并通过丙方向乙方展示评估结果；
            </p>
            <p>
                3.如甲方接受乙方的投资建议，将按照乙方所提供的投资建议作为参考并进行投资，双方约定的合作周期以成交确认单为准。
            </p>
            <p>
                4.当方案终止时，甲方所管理的期末资产净值高于期初资产净值时，乙方享有高出期初资产净值部分90 %-100%的收益所有权，超出期初资产总净值的0%-10%收益作为投资人分成归甲方所有；如甲方所管理的期末资产净值低于期初资产净值时，投资产生的亏损由甲方独立承担；
            </p>
            <p>
                5.丙方依据其向甲方所提供的投资顾问推荐服务向乙方收取居间服务费用，即：在本合同生效时向乙方收取居间服务费用（具体费用以成交确认单为准）；
            </p>
            <p>
                6.甲方和乙方一致同意委托丙方代为收取及支付本协议中因甲乙双方合作行为而产生的所有相关费用，并一致同意接受丙方就本协议内容所进行的监管。
            </p>
            <p>
                7.成交确认单双方主要是以 翼期赢 网站、微信、QQ等工具为主，通过以上方式确认成单内容，在接收确认单后双方没有提出异议即表示对成单内容的认可。
            </p>
            <p>
                第三条 投资建议的说明
            </p>
            <p>
                1.乙方建议甲方投资的股票原则上应业绩优良、流通股本规模适度、流动性好。乙方的投资建议方案在甲方评估后认为存在风险，甲方有权部分拒绝或全部拒绝乙方所提供的投资建议：
            </p>
            <p>
                2.乙方发起的投资建议由甲方评估后，结果通过丙方向乙方送达，如因乙方未能及时反馈问题而造成的损失，皆由乙方独立承担；
            </p>
            <p>
                3.甲方接受乙方提供的投资建议后，在当个交易日执行乙方的投资建议方案，具体操作详见投顾规则。
            </p>
            <p>
                4.乙方若在方案执行周期内提出方案结算，需向甲方提供股票卖出价格的投资建议:
            </p>
            <p>
                1）如乙方没有提供卖出价格建议，甲方将选择在乙方提出方案结算的一小时后根据市场情况择优卖出并通过丙方向乙方展示方案执行结果，如甲方执行乙方提供的建议方案成功，则按照本协议第二条第4点约定方式进行结算分配；
            </p>
            <p>
                2）如甲方执行乙方提供的股票卖出价格结算建议在次日14:30分之前依然无法交易成功，则甲方有权以交易该日14:30之后市场情况自行择优交易、并以实际成交价格按照协议第二条第4点约定的方式与乙方结算，乙方不得有异议；
            </p>
            <p>
                3）如乙方在周期方案结束前两个交易日依然未提供结算建议方案，甲方有权在周期方案结束当日、在上午9点30分钟后根据市场情况自行择优交易卖出股票，并按照协议第二条第4点约定的方式进行结算分配；
            </p>
            <p>
                5.如在方案执行期间乙方投资建议的股票出现停牌不能交易:
            </p>
            <p>
                1）股票在停牌期间投资顾问发起的投顾建议甲方有权一律视为无效建议并不予采纳；
            </p>
            <p>
                2）股票停牌期间，乙方将无法提出结算。若在方案执行期间股票已复牌，乙方则可继续进行投资建议；若方案到期结束而股票依然未复牌，乙方可以在下列方式中选择其中一种且不得更改：</p>
            <p>
                a、甲乙双方按方案结束前的最后一个交易日收盘价予以结算；</p>
            <p>
                b、建议甲方继续持有股票直至复牌后第一个非跌停板日，由甲方自行根据市场情况择优交易卖出股票、按照实际成交价格和协议第二条第4点约定的方式进行结算分配，但乙方需承担自周期方案到期日至实际成交日的资金成本（按照实际占款天数以8.6%年化利率计算、从乙方或有收益中每日计提扣除；如乙方或有收益不足以支付占款资金成本，乙方建议方案将视为自动结束）；</p>
            <p>
                c、建议甲方继续持有股票直至复牌后第一个非跌停板日，以大宗交易或其他双方协商一致且符合中国证券市场交易规则的方式、将甲方接受乙方建议方案后实际持有的股票数量转移至乙方账户，同时双方将按照第一个非跌停板日的收盘价作为结算价格、和协议第二条第4点约定的方式进行结算分配，但乙方需承担自周期方案到期日至实际成交日的资金成本（按照实际占款天数以8.6%年化利率计算、从乙方或有收益中每日计提扣除；如乙方或有收益不足以支付占款资金成本，乙方建议方案将视为自动结束）。</p>
            <p>
                6.如在方案周期内乙方投资建议的股票出现转送、分红等除权除息（配股除外）情况，计算的股票价格以复权价计算收益；</p>
            <p>
                7.如在方案周期内乙方投资建议的股票出现配股情况，投资方在配股发生时不参与认购，若投资顾问建议仍继续持有，该情况所导致合作方案收益减小或亏损乙方表示无异;</p>
            <p>
                8.如在方案周期内乙方投资建议的股票连续2个交易日触及涨停板，甲方有权决定是否主动终止投资建议方案，按照第二个触及涨停板交易日的股票收盘价作为结算价格、和协议第二条第4点约定的方式进行结算分配，乙方不得有任何异议。</p>
            <p>
                9.若无特殊规定则以以上第三大条细则为准，若有变动以投资建议成交确认单中细则为准。</p>
            <p>
                第四条 居间服务费及担保范围</p>
            <p>
                1.乙方应根据本协议约定在提交建议方案时支付方案管理费到丙方指定账户作为居间服务费用，甲方评估投资建议时，居间服务费暂时冻结，待甲方确认接受投资建议则居间服务费用由丙方收取；</p>
            <p>
                2.乙方授权丙方，如乙方未能履行本协议约定的任何义务，丙方无论是否事先通知乙方，均可通过甲方直接从乙方的建议方案中划扣相应收益用于支付乙方应付欠款。本授权委托在本协议有效期内不可撤销。</p>
            <p>
                第五条 结算说明</p>
            <p>
                1.本协议终止前，乙方须按本协议规定时间将相关费用支付到丙方指定的银行账户；</p>
            <p>
                2.本协议终止时，甲方将授权丙方将其中高于期初净值的部分依照第二条第4点完成结算；</p>
            <p>
                3.当乙方需要在获取收益时，需通过丙方向甲方发出申请。经甲方核对后，如不存在异议，甲方将同意乙方的提现申请。</p>
            <p>
                第六条 甲方的权利、义务及违约责任</p>
            <p>
                1.甲方保证资金来源合法，甲方是该资金的合法权利人，如果本协议范围外的任意方对资金归属、合法性问题发生争议，由甲方负责解决，与其他方无涉。如甲方未能解决，则协议马上进入终止清算，乙方及丙方不受连带责任；</p>
            <p>
                2.甲方享有根据乙方建议的资产管理方案带来的应得收益，并应主动缴纳由此所得带来的可能的税费及其他相应成本；</p>
            <p>
                3.甲方有权对乙方提供的投资建议是否采纳拥有最终决定权，评估完成并确认接受乙方的投资建议则视为同意且有义务遵守本协议中的相关约定。</p>
            <p>
                第七条 乙方的权利、义务及违约责任</p>
            <p>
                1.乙方有权根据本协议约定建议甲方在本资管方案中进行股票交易投资，有权根据第二条第4点向甲方收取本资管方案投资所得的收益；</p>
            <p>
                2.乙方不得建议进行坐庄、对敲、接盘、大宗交易、内幕信息等违反股票交易法律法规及证券公司规定的交易，如有任一次上述交易行为，应支付给甲方资管方案所涉及资产总额10%的违约金，因此产生的一切法律责任和损失由乙方承担；</p>
            <p>
                3.如因乙方导致甲方账户（包括银行账户和股票、期货账户）被依法采取查封、冻结、划拨等强制措施，造成甲方损失的，乙方应从账户被依法处置之日起以本资管项目涉及资产总额的1‰为日利率向甲方支付违约金，如违约金不足以弥补损失的，乙方还应承担继续赔偿责任。合作结束，账户仍未解除强制措施的，乙方应另行全额归还给甲方本资管项目涉及总资产额并按涉及资产总额的1‰为日利率支付违约金；</p>
            <p>
                第八条 丙方的权利、义务</p>
            <p>
                1.丙方有权就为本协议所提供的服务向甲方收取居间服务费用。居间服务费用参照本协议中第二条第5点执行；</p>
            <p>
                2.丙方作为甲乙双方订约的居间方，丙方不对甲乙双方的履约承担任何经济和法律责任；</p>
            <p>
                3.丙方应对甲方和乙方的信息及本协议内容保密；如任何一方违约，或因相关权力部门要求（包括但不限于法院、仲裁机构、金融监管机构等），丙方有权披露。</p>
            <p>
                第九条 风险揭示</p>
            <p>
                1.甲方在签署本合同前须履行风险提示义务；乙方应在签署本合同前须详细阅读本协议内容及相关风险提示，以便正确、全面了解投资顾问合作的风险。 2.技术风险揭示
            </p>
            <p>
                1）由于政策或者市场原因，需取消乙方投资顾问权限，甲方将通知乙方在规定时间内行使投资建议权（仅限于在期限内将本资管方案中涉及的资产变现）；若在规定时间内乙方未行使投资建议权，则视为放弃履行投资顾问的权利与义务，甲方依照本协议规定清算后终止该协议；</p>
            <p>
                2）其他不可抗力风险；</p>
            <p>
                3.规避风险建议</p>
            <p>
                1）甲乙双方务必注意个人信息资料的保密，账户密码妥善保存，如意识到密码可能泄露，请及时修改密码；</p>
            <p>
                2）甲乙双方用于投资建议和操作实施的电脑必须安装可信赖的病毒防火墙和网络防火墙软件，并确认其正常和安全工作；</p>
            <p>
                3）甲乙双方如遇个人电脑系统、网络通讯或相关软件出现异常情况，应主动识别风险，暂停网上投资建议委托和操作。</p>
            <p>
                4.特别提示</p>
            <p>
                根据证监会颁布的《证券业从业人员执业行为准则》规定，甲方委托及决策时应主动审查乙方是否获得证券从业人员的资质，若乙方存在刻意隐瞒或欺骗行为，甲方有权取消乙方资管方案投资顾问资格，因此而产生的其他后果由甲方向乙方追究责任； 甲乙方签订本合同后，表明己方已完全了解该业务可能存在的相应风险，以及该风险可能造成的损失和法律后果，自觉遵守审慎的义务，自行承担因自身决策失误等造成的损失。
            </p>
            <p>
                第十条 协议的订立、生效</p>
            <p>
                1.甲乙双方同意并确认自行根据有关规则和说明签署本协议；</p>
            <p>
                2.甲乙双方通过上述方式接受本协议且由丙方在平台上展示时，本协议立即生效。协议到期时，经甲乙双方合议，如无异议，可延续本合同同等条件及合同期限；</p>
            <p>
                3.鉴于甲方可能会对本协议风控规则进行修订并由丙方通知，甲乙双方需应不时地注意甲方及具体规则的变更，若甲乙双方在本协议及具体规则内容公告变更后继续使用本服务的，表示甲乙双方已充分阅读、理解并接受修改后的协议和具体规则内容，也将遵循修改后的协议和具体规则使用丙方服务；同时就甲乙双方在协议和具体规则修订前进行的交易及其效力，视为双方已同意并已按照本协议及有关规则进行了相应的授权和追认；</p>
            <p>
                4.在本协议履行过程中产生争议的，各方应当协商解决。协商不成的，任何一方向丙方所在地有管辖权的人民法院提起诉讼。</p>
            <p>
                第十一条 协议终止</p>
            <p>
                1.本协议生效之日起至合同到期时，如甲乙双方没有达成延续协议，则终止协议。协议终止时，甲方将根据本协议进行本资管方案结束清算；</p>
            <p>
                2.如因证券公司政策或不可抗力原因，导致资管方案无法正常继续进行，本协议自动终止，协议三方互不追究违约责任，按本协议约定进行结算；</p>
            <p>
                3.乙方有严重违约行为的，甲方有权立即解除本协议，收回乙方投资顾问权限，并不退还乙方在以往业务中已经缴纳的管理费；</p>
            <p>
                4.本协议一式三份，具有同等法律效力，协议自三方签订盖章之日起生效。</p>
            <p>

                （以下无正文）</p>
            <p>

                甲方 ： 邓立群 </p>
            <p>
                乙方（投资顾问）：</p>
            <p>
                身份证号： </p>
            <p>
                联系方式： </p>
            <p>
                丙方（居间人）：翼期赢网 </p>
            <p>
                承诺人（签名）： 签名日期：
            </p>
        </div>
    </div>

</div>

{/block}{block name="tabbar"}{/block}{block name="checkLogin"}{/block}