{extend name="static/assets/base.html" /}{block name="title"}
<title>修改密码</title>{/block} {block name="style"}
<style>
    .weui-cell {
        background: none;
    }

    .weui-cell__bd {
        text-align: left;
    }

    .weui-label {
        width: 40px;
        position: absolute;
        top: 17px;
        color: black;
        left: 25px;
    }

    input.weui-input {
        text-align: left;
        width: 100%;
        border: 1px solid #778091;
        background: white;
        color: black;
        line-height: 22px;
        height: 30px;
        border-radius: 4px;
        text-indent: 50px;
    }

    button.weui-vcode-btn {
        border-left: 1px solid #303849;
        line-height: 11px;
        padding: 0 0.6em 0 0.7em;
        background: #e64340;
        margin: 0px 10px;
        height: 36px;
        border-radius: 4px;
    }

    label>* {
        pointer-events: inherit;
    }

    .avatar {
        width: 50px;
        border-radius: 50%;
    }

    /*白头写法*/

    header.bar h1.title,
    header.bar,
    body,
    html,
    .weui-content {
        background: white;
    }

    header.bar .weui-back>i,
    header.bar .tools a>i {
        color: black;
    }

    .taitou {
        padding: 0 20px;
        padding-top: 20px;
    }

    .taitou small {
        color: #707070;
    }

    /*白头写法*/
</style>

{/block} {block name="tools"} {/block}{block name="header-title"} {/block}{block name="body"}
<div class="weui-content">
    <div class="taitou">
        <h1>修改密码</h1>
        <small>请为您的帐户重置密码，6-15位字符、数据或符号组合</small>
    </div>

    <div class="weui-cells weui-cells_form" style="margin-top: 20px;">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <i class="iconfont icon-mima"></i>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input id='password' class="mui-input-password weui-input" type="password" value="" placeholder="请输入旧密码">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <i class="iconfont icon-mima"></i>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input id='newpassword' class="mui-input-password weui-input" type="password" value="" placeholder="请输入新密码">
            </div>
        </div>
    </div>
    <a id="btn" class="weui-btn weui-btn_ ">保存</a>
</div>
{/block} {block name="tabbar"}{/block} {block name="script"}
<script src="/static/assets/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function () {
        $("#btn").on('click', function () {
            if ($("#password").val() == '') {
                $.alert('旧密码不能为空');
                return false;
            }
            if ($("#newpassword").val() == '') {
                $.alert('新密码不能为空');
                return false;
            }
            $.ajax({
                url: "/index/api/alertPwd",
                type: 'post',
                data: {
                    oldpwd: $("#password").val(),
                    newpwd: $("#newpassword").val(),
                    user_name: $("#user_name").val(),
                    uid: localStorage.id,
                    type: localStorage.type,
                    auth: localStorage.auth
                },
                cache: false,
                dataType: 'json',
                success: function (data) {
                    $.alert(data.msg, function () {
                        if (data.code == 1) {
                            window.location = "/index/index/login.html";
                        }
                    });
                },
                error: function () {
                    $.toast('请求超时');
                }
            });
        });
    });
</script> {/block}