<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>期货交易管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__STATIC__/agent/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__STATIC__/plugins/zTree_v3/css/demo.css" type="text/css">
	<link rel="stylesheet" href="__STATIC__/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css" media="all" />
	<style>
        .ztree *{font-size:16px;}
		.ztree li span{line-height:18px;}
		/* .ztree li a{height:24px;} */
		.ztree li{padding:5px 0;}
    </style>
</head>
<body>