{include file="common/head"/}
<script>
    var ADMIN = '__STATIC__/admin/';
</script>
<div class="layui-layout layui-layout-admin kit-layout-admin">
  <div class="layui-padded-15">
    <div class="layui-form">
      <button id="add" class="layui-btn layui-btn-normal layui-btn-sm">新增</button>
      <table class="layui-table" id="list" lay-filter="list"></table>
    </div>
  </div>
</div>
{include file="common/foot"/}
<script type="text/html" id="action">
  <a class="layui-btn layui-btn-warm layui-btn-sm" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>
<script>
    var message;
    layui.config({
        base: ADMIN+'build/js/',
        version: '1.0.1'
    }).use(['app','table','form','laydate','message'], function() {
        var app = layui.app,
            $ = layui.jquery,
            table = layui.table,
            laydate = layui.laydate,
            form = layui.form,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
    //列表数据
    var pid={:input('pid')};
    var tableIn = table.render({
        elem: '#list',
        url: "{:url('risk/deliveryDate')}",
        where:{pid:pid},
        method: 'post',
        page: true,
        cols: [[
            {type:'numbers',title:'序号',width:60,fixed: true},
            {field:'start_time',align:'center',title:'开始时间', width:180, sort: true},
            {field:'end_time',align:'center',title:'结束时间', width:180, sort: true},
            {field:'rate',align:'center',title:'保证金金额',width:150},
            {width: 150, align: 'center', toolbar: '#action',title:'操作'}
        ]],
        limit: 10,
        height: 300 //固定值
    });
    //监听工具条
    table.on('tool(list)', function(obj){
      var data = obj.data;
      if(obj.event === 'detail'){
        //layer.msg('ID：'+ data.id + ' 的查看操作');
      } else if(obj.event === 'del'){
        layer.confirm('真的要删除么？', function(index){
          $.post("{:url('risk/del_deliveryDate')}",{'id':data.id},function(res){
            if(res.code==1){
              layer.msg(res.msg,{icon: 1, time: 1000},function(){
                obj.del();
                layer.close(index);
              });
            }else{
              layer.msg(res.msg,{icon: 2, time: 1000},function(){
                layer.close(index);
              });
            }
          });

        });
      } else if(obj.event === 'edit'){
        //layer.alert('编辑行：<br>'+ JSON.stringify(data));
        var id=data.id;
        var str='';
            str+='<div class="layui-product">';
            str+='<form class="layui-form">';
            str+='<div class="layui-form-item">';
            str+='<label class="layui-form-label">开始时间</label>';
            str+='<div class="layui-input-block">';
            str+='<input type="text" id="start_time" name="start_time" placeholder="请输入开始时间" value="'+data.start_time+'" class="layui-input">';
            str+='</div>';
            str+='</div>';
            str+='<div class="layui-form-item">';
            str+='<label class="layui-form-label">结束时间</label>';
            str+='<div class="layui-input-block">';
            str+='<input type="text" id="end_time" name="end_time" placeholder="请输入结束时间" value="'+data.end_time+'" class="layui-input">';
            str+='</div>';
            str+='</div>';
            str+='<div class="layui-form-item">';
            str+='<label class="layui-form-label">保证金金额</label>';
            str+='<div class="layui-input-inline">';
            str+='<input type="text" id="rate" name="rate" placeholder="请输入保证金金额" value="'+data.rate+'" class="layui-input">';
            str+='</div>';
            str+='<div class="layui-form-mid layui-word-aux"></div>';
            str+='</div>';
            str+='</form>';
            str+='</div>';
          layer.open({
            type: 1, 
            skin: 'layui-product',
            title:'编辑 | 强平时间',
            area:['600px','350px'],
            content:str,
            btn: ['保存', '取消'],
            btnAlign: 'c',
            yes: function(index, layero){
              var start_time=$('input[name="start_time"]').val();
              var end_time=$('input[name="end_time"]').val();
              var rate=$('input[name="rate"]').val();
              $.post("{:url('risk/edit_deliveryDate')}",
                {'id':id,'start_time':start_time,'end_time':end_time,'rate':rate},
                function(res){
                if(res.code==1){
                  layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                      layer.close(index);
                      tableIn.reload();
                  });
                }else{
                  layer.msg(res.msg, {icon: 2, time: 1000});
                }
              });
            },
            btn2: function(index, layero){
              layer.close(index);
              //return false 开启该代码可禁止点击该按钮关闭
            },
            cancel: function(index){ 
              layer.close(index);
              //return false; 
              //return false 开启该代码可禁止点击该按钮关闭
            }
          });
        laydate.render({
          elem: '#start_time' //指定元素
          ,type:'time'
        });
        laydate.render({
          elem: '#end_time' //指定元素
          ,type:'time'
        });
        form.render();
      }
    });
    //添加品种
    $('#add').click(function(){
        var pid={:input('pid')};
        var str='';
            str+='<div class="layui-product">';
            str+='<form class="layui-form">';
            str+='<input type="hidden" id="pid" name="pid" value="'+pid+'" class="layui-input">';
            str+='<div class="layui-form-item">';
            str+='<label class="layui-form-label">开始时间</label>';
            str+='<div class="layui-input-block">';
            str+='<input type="text" id="start_time" name="start_time" placeholder="请输入开始时间" class="layui-input">';
            str+='</div>';
            str+='</div>';
            str+='<div class="layui-form-item">';
            str+='<label class="layui-form-label">结束时间</label>';
            str+='<div class="layui-input-block">';
            str+='<input type="text" id="end_time" name="end_time" placeholder="请输入开始时间" class="layui-input">';
            str+='</div>';
            str+='</div>';
            str+='<div class="layui-form-item">';
            str+='<label class="layui-form-label">保证金金额</label>';
            str+='<div class="layui-input-inline">';
            str+='<input type="text" id="rate" name="rate" placeholder="请输入保证金金额" class="layui-input">';
            str+='</div>';
            str+='<div class="layui-form-mid layui-word-aux"></div>';
            str+='</div>';
            str+='</form>';
            str+='</div>';
        layer.open({
            type: 1, 
            skin: 'layui-product',
            title:'新增 | 强平时间',
            area:['600px','350px'],
            content:str,
            btn: ['提交', '放弃'],
            btnAlign: 'c',
            yes: function(index, layero){
              var pid=$('input[name="pid"]').val();
              var start_time=$('input[name="start_time"]').val();
              var end_time=$('input[name="end_time"]').val();
              var rate=$('input[name="rate"]').val();
              $.post("{:url('risk/add_deliveryDate')}",
                {'pid':pid,'start_time':start_time,'end_time':end_time,'rate':rate},
                function(res){
                if(res.code==1){
                  layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                      layer.close(index);
                      tableIn.reload();
                  });
                }else{
                  layer.msg(res.msg, {icon: 2, time: 1000});
                }
              });
            },
            btn2: function(index, layero){
              layer.close(index);
              //return false 开启该代码可禁止点击该按钮关闭
            },
            cancel: function(index){ 
              layer.close(index);
              //return false; 
              //return false 开启该代码可禁止点击该按钮关闭
            }
          });
        laydate.render({
          elem: '#start_time' //指定元素
          ,type:'time'
        });
        laydate.render({
          elem: '#end_time' //指定元素
          ,type:'time'
        });
        form.render();
    });
        
  });
</script>
</body>
</html>